asgiref==3.11.0
click==8.3.1
Django==6.0.1
django-htmx==1.27.0
django-tailwind-cli==4.5.1
django-typer==3.5.1
pillow==12.1.0
semver==3.0.4
shellingham==1.5.4
sqlparse==0.5.5
typer-slim==0.21.1
typing_extensions==4.15.0
whitenoise==6.11.0
